
  @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2? family= Gothic+A1:wght@200 & family= Great+Vibes & display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&family=Great+Vibes&family=Nanum+Myeongjo:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&family=Great+Vibes&family=Monda&family=Nanum+Myeongjo:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&family=Great+Vibes&family=Nanum+Myeongjo:wght@700&family=Syncopate:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bamum:wght@600;700&family=Syncopate:wght@700&display=swap');
  *{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
li {
	list-style: none;
}
body{
    width: 100%;
    font: 1em sans-serif;

}
body.active{
    background-color: #1f1e1e;
 /*  background-image: linear-gradient(to right, rgb(247, 81, 197),rgb(53, 212, 233));*/
}
.cabecalho{
    margin-top: 20px;
    display: flex;
    padding-bottom: 0%;
    justify-content:center;
    align-items: center;
    position: absolute;
    width:100%;
    
}
.nome-logo{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
} 
.logo{
    margin-top: 2px;
   /* margin-left: 100px;*/
    width: 13%;
    height: auto;
    
}
.logo.active{
    display: none;
}
.logo-branco{
    margin-top: 2px;
    /* margin-left: 100px;*/
     width:12%;
     height: auto;
     display: none;
    position: static;
    left:10%;
}
.logo-branco.active{
    display: block
}
.raquel-rodrigues{
    font: 1.4em 'Noto Sans Bamum', sans-serif;
    font-weight: 900;
}
.raquel-rodrigues.active{
      color: #f3efef;
}
.desenvolvedora{
    font:  .6em 'Syncopate', sans-serif;
}
.desenvolvedora.active{
    color: #f7f1f1;
}
.botao-criativo{
    margin-left: 60%;
    margin-right: 5%;
    border-radius: 30px;
   /* margin-left: 430%;*/
   /* margin-left: 1240px;*/
    margin-top: 7px;
    display: flex;
    background-color: rgb(243, 247, 247);
    width: 75px;
    height: 40px;
    justify-content: center;
    align-items: center;
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.2 ) ;
    border: 1px solid rgba(27, 27, 27, 0.5);
    border-left: 1px solid rgba(41, 40, 40, 0.5);
    box-shadow: 20px 20px 50px rgba(0, 0 , 0, 0.5);
    border: 1px solid white;

}
.dentro-botao{

    border-radius: 30px;
    display: flex;
    background-color: rgb(244, 247, 247);
    width: 70px;
    height: 30px;
    display: flex;
    box-shadow:inset 0 0 20px 7px rgb(240, 237, 237);
}
.esfera-botao{
    display: block;
    justify-content: center;
    margin-top: 1px;
    margin-left: 5px;
    position: absolute;
    align-items: end;
    height: 27px;
    width: 27px;
    background-image:linear-gradient(to right,rgb(46, 45, 45),rgb(14, 14, 13),rgb(59, 58, 58)) ;
    border-radius: 100%;
    box-shadow: 0px 0px 10px 3px rgba(0, 0 , 0, 0.5);
    transition: 0.5s;
    
}
.esfera-botao.active{
    margin-top: 2px;
    margin-left: 35px;
    height: 23px;
    width: 23px;
    background-image:linear-gradient(to right,rgb(146, 143, 143),rgb(146, 146, 139),rgb(170, 165, 165),rgb(156, 151, 151),rgb(146, 143, 143),rgb(145, 141, 141),rgb(177, 173, 173),rgb(184, 182, 182)) ;
    box-shadow: 0px 4px  6px  3px rgba(85, 82, 82, 0.5);
}
.esfera-dentro{
    opacity: 50%;
    align-items: end;
    height: 27px;
    width: 27px;
    background-image:linear-gradient(to bottom,rgb(61, 60, 60),rgb(59, 59, 58),rgb(150, 144, 144)),#dad0d0 ;
    border-radius: 100%;
    box-shadow: inset 0px 0px 5px 7px rgba(0, 0 , 0, 0.5);
    transition: 0.5s;

}
.esfera-dentro.active{
    margin-top: 0%;
    height: 23px;
    width: 23px;
    background-image:linear-gradient(to bottom,rgb(44, 43, 43), rgb(104, 101, 101),rgb(117, 117, 115), rgb(170, 166, 166), rgb(182, 178, 178),rgb(194, 189, 189),
    rgb(218, 212, 212),rgb(241, 236, 236),rgb(211, 208, 208),rgb(180, 177, 177),rgb(150, 147, 147),rgb(138, 135, 135),rgb(109, 107, 107),rgb(75, 73, 73), rgb(49, 49, 49),rgb(37, 37, 37)) ;
    box-shadow:inset  0px 0px  4px  6px rgba(10, 10, 10, 10);
    
}

.nome-profissao-botoes{
    text-align: center;
    margin-top: 150px;
    position: absolute;
    margin-left: 80px;
    align-items: center;
  
}
main{
    
  display: flex;
}

.nome{
    
    font:  1.5em 'Syncopate', sans-serif;
  padding: 20px;
  color: #858282;
   
}
.nome.active{
    color: #dfd5f7;
}
.profissao{
    
    color: #181717;
    
    font: 3.5em 'Noto Sans Bamum', sans-serif;
    font-weight: 900;
   
}
.profissao.active{
    color: rgb(228, 222, 222);
}
.descricao{
    font: 1.3em 'Noto Sans Bamum', sans-serif;
    color:#858282 ;
}
.botoes-linkedin-github{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.linkedin{
    flex-basis: 0;
    justify-content: center;
    margin: 40px;
    display: flex;
    padding: 20px;
    width: 120px;
    height: 10px;
    color: #090909;
    align-items: center;
    border-radius: 20px;
    font: 1em sans-serif;
    border: 1px solid #fdf7f7;
    color:rgb(18, 18, 19);
    box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}
.github{
    flex-basis: 0;
    justify-content: center;
    margin: 40px;
    display: flex;
    padding: 20px;
    width: 120px;
    height: 10px;
    color: #090909;
    align-items: center;
    border-radius: 20px;
    font: 1em sans-serif;
    border: 1px solid #fdf7f7;
    color:rgb(18, 18, 19);
    box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}


.github:hover{
    color:  #090909;
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.2 ) ;
    border: 1px solid rgba(27, 27, 27, 0.5);
    border-left: 1px solid rgba(41, 40, 40, 0.5);
    box-shadow: 20px 20px 50px rgba(0, 0 , 0, 0.5);
    border: 1px solid white;
}
.linkedin:hover{
    color:  #090909;
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.2 ) ;
    border: 1px solid rgba(27, 27, 27, 0.5);
    border-left: 1px solid rgba(41, 40, 40, 0.5);
    box-shadow: 20px 20px 50px rgba(0, 0 , 0, 0.5);
    border: 1px solid white;
    }
.foto{
    display: flex;
    margin-left: 650px;
   
}
.raquel-foto{
    margin-top: 0;
    width: 100%;
    height: 100%;
    
}
nav{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    height: auto;

    
}
.navegacao{
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    background: rgba(27, 26, 26, 0.2);
    width: 250px;
    height: 40px;
    display: flex;
    position: fixed;
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 50px rgba(0, 0 , 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5 );
    border-left: 1px solid rgba(255, 255, 255, 0.5 ) ;
    bottom: 0;
    

}

.navegacao ul{
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    

    
}
.navegacao ul li{
    
    display: flex;
   align-items: center;
   justify-content: center;
    position: relative;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    z-index: 1;
    background: rgba(192, 187, 187, 0.9);
   
}
.navegacao ul li a{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navegacao ul li a .texto{
    display: block;
    font-size: 1.5em;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    color: #181717;
    position: absolute;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5em;
    opacity: 0;
    font-weight: 700;
}
.navegacao ul li a .texto.active{
    color: #dad0d0;
    text-decoration-color: #dad0d0;
}

.navegacao ul li:hover a .texto{
   opacity: 1;
     transform:translateY(-35px);
}
.navegacao ul li:hover a .icone{
    display: flex;
    
}
.cards-projetos {
    margin-top: 3%;
    margin-bottom: 2%;
    width: 100%;
    height: 20%;
    text-align: center;
    font: 2em 'Noto Sans Bamum', sans-serif;
    font-weight: 900;
    color: #7c7878;
    
}

.item.active{
    color: #a3a2a2;
}


.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   /*  z-index: 1;*/
    flex-wrap: wrap;
   

}
.container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 50px;
    box-shadow: 20px 20px 50px rgba(0, 0 , 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1 );
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5 );
    border-left: 1px solid rgba(255, 255, 255, 0.5 ) ;
}
.projeto1{
    position: absolute;
    height:400px ;
    width: 300px;
    
}
.container .card .content{
    padding: 20px;
    text-align: center;
    transform: translatey(100px);
    opacity: 0;
    transition: 0.5s;
}
.container .card:hover .content{
    transform: translate(0px);
    opacity: 1;

}
.container .card .content h2{
    position: absolute;
    top: -120px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.5 );
}
.container .card .content h3{
   
    font-size: 1.8em;
    color: #3d3d3f ;
    z-index: 1;
    background: #f3efef;
    box-shadow: 0 0 100px 100px #f3efef;
}
.container .card .content p{
        font-size: 1em;
        color: #131212;
        font-weight: 300;
        background: #f3efef;
        box-shadow: 0 0 200px 10px #f3efef;
}
.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #a3a2a2;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2 );
}

.tecnologias{
    margin-bottom: 4em;
    display: grid;
    grid-auto-rows:12em ;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
}
.PalavraTecnologias{
    grid-column: 1/-1;
    font:1000 2em 'Noto Sans Bamum', sans-serif;
    color: #7c7878;
    align-items: center;
    justify-items: center;

}
.tec{
    
    width: 20%;

}
.rodape{
    justify-content: center;
    display: flex;
    width: 100%;
    height: 300px;
    background-color: white;
    align-items: center;
    border-top: .5px solid rgb(190, 188, 188);
}
.rodape.active{
    background-color: #161515;
    color: #c5c5c5;
}
.projeto-rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.333%;
    
}
.meus-projetos{
    font: 1.7em 'Noto Sans Bamum', sans-serif;
    margin: 10px;
    font-weight: 900;
    
}
.projeto-rodape a{
    margin: 10px;
    
    
    color: #464343;
    
    font: 1em 'Noto Sans Bamum', sans-serif;
}
.logo-copyright{
    justify-content: center;
    align-items: center;
    text-align: center;
   flex-direction: column;
   width: 33.333%;
}
.logo-rodape{
    width: 9%;
}
.copyright{
    color: #686666;
    font: .9em sans-serif;
   
}
.recado-email-telefone{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.333%;
}
.recado{
    font: 1em 'Noto Sans Bamum', sans-serif;
    margin: 10px;
    font-weight: 900;
    color: rgb(85, 83, 83);
    margin-bottom: 10px
}
.recado.active{
    color: rgb(240, 237, 237);
}

.email{
    font: .9em 'Noto Sans Bamum', sans-serif;
}
.telefone{
    font: .9em 'Noto Sans Bamum', sans-serif;
}
/*
@media screen and (max-width:1200px) {
    body{
        width: 100%;
    }
    .cabecalho{
        width: 100%;
        margin-top: 20px;
        display: flex;
        padding-bottom: 0%;
        position: absolute;
        justify-content: space-between;
        
    }    
    .nome-logo{
       margin-left: -40%;
    }
    .raquel-rodrigues{
        font-size: 2em;
        font-weight: 900;
    }
    .desenvolvedora{
        font-size: 1em;
    }
    .logo{
        width:5%
    }
    .logo-branco{
        width: 5%
    }

    .botao-criativo{
        margin-right: 0;
        margin-top: 0%;
        margin-left: 0;
        position: absolute;
        right: 7%;
    }
    .nome-profissao-botoes{
        width: 100%;
        margin: 0;
        align-items: center;
        align-self: center;
        align-content: center;
    }
    main{
        margin-bottom: 77%;
        
    }
    .nome{
        width: 100%;
        font:  2em 'Syncopate', sans-serif;
        margin-top: 110%;

    }
    .profissao{
        padding: 0;
            width: 100%;
            height: auto;
            font: 4em 'Noto Sans Bamum', sans-serif;
            font-weight: 900;
    }
    .botoes-linkedin-github{
        padding-top: 0;
        margin-top: 0;
        margin: 0;
        margin-right: 0%;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .foto{
       
        align-items: center;
        align-self: center;
        width: 50%;
        max-width: 100%;
        height: 100%;
        margin-top: 10%;
        margin-left: 0;
    }
    .raquel-foto{
        position: absolute;
        width: 130%;
        height: 130%;
        margin-left: 0;
    }
    .navegacao{
        background-origin: padding-box;
        justify-content: space-around;
        border-radius: 40px;
        align-items: center;
        background: rgba(247, 244, 244, 0.2);
        width: 40%;
        height: 57px;
        bottom: 1px;
    }
    .navegacao ul{
        padding: auto;
        width: 500px;
    }
     .navegacao ul li{
        
       border-radius: 50%;
       width: 55px;
        height: 55px;
       z-index: 1;
    
       
    }
    .item{
        margin-left: 20px;
        margin-right: 20px;
    }
    .cards-projetos{
        margin-top: 5%;
    }
    .projetos{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .container{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .card{
        width:100% ;
        height: 100%;
    }
    .projeto1{
        position: absolute;
        
        
    }
    .redes-sociais{
        justify-content: center;
        text-align: center;
        display: flex;
        position: relative;
        width: 100%;
        
        align-items: center;
        
    }
    .rede-social{
        display: flex;
        padding: 30px;
        width: 6em;
    }
    .rodape{
        width: 100%;
        height: 500px;
        flex-direction: row;
        flex-wrap: wrap ;
        font-size: 1.5em;
        margin-bottom: 50px;
    }
    .recado-email-telefone{
        display: flex;
        width: 100%;
    }
    .recado{
       margin-top: 5%;
        display: flex;
        width: 90%;
        order: -1;
       
    }
    .meus-projetos{
        font: 1.7em 'Noto Sans Bamum', sans-serif;
        margin: 10px;
        font-weight: 900;
        display: flex;
    }
    .projeto-rodape{
       display: block;
        width: 100%;
        order: 0;
    }
    .logo-rodape{
        align-self: flex-end;
        width:20%
    
    }
    .logo-copyright{
        order: 1
    }
    .copyright{
        text-align: center;
        display: flex;
        width: 130%;
        padding: 0;
    }

}
*/

@media screen and (max-width:1100px) {
    
    main {
       justify-content: center;
    }
   body{
    width: 100%;
   }
   
    .container {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
    
    }
        .cards-projetos{
            margin-top: 200px;
        }
    .profissao{
        font: 3em 'Noto Sans Bamum', sans-serif;
    }
    .foto{
        margin-left: 0;
    }
    .foto-raquel{
        min-width: 400px;
        width: auto;
        height: 400px;
        margin-top: 20%;
        
    }
    .nome-profissao-botoes{
        position: relative;
        margin-left: 20px;
        width: 50%;
        
    }

}
@media screen and (max-width:800px) {
    *{
        margin: 0;
        padding: 0;
    }
    
    .cabecalho{
        margin-top: 20px;
        display: flex;
        padding-bottom: 0%;
        position: absolute;
        justify-content: space-between;
        
    }    
    .nome-logo{
       margin-left: -40%;
    }
    .raquel-rodrigues{
        font-size: 1.3em;
        font-weight: 900;
    }
    .desenvolvedora{
        font-size: .5em;
    }
    .logo{
        width: 7%
    }
    .logo-branco{
        width: 7%
    }

    .botao-criativo{
        margin-right: 0;
        margin-top: 0%;
        margin-left: 0;
        position: absolute;
        right: 5%;
       
    }
    .nome-profissao-botoes{
        width: 100%;
        margin: 0;
        margin-top: 110%;
        position: absolute;
       
    }
    main{
        margin-bottom: 77%;
        
    }
    .nome{
        width: 100%;
        font:  100% 'Syncopate', sans-serif;
       

    }
    .profissao{
        padding: 0;
            width: 100%;
            height: auto;
            font: 2.5em 'Noto Sans Bamum', sans-serif;
            font-weight: 900;
    }
    .botoes-linkedin-github{
        padding-top: 0;
        margin-top: 0;
        margin: 0;
        margin-right: 0%;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
   
    .foto{
        margin-left: 0;
        max-width: 100%;
        height: 100%;
        margin-top: 30px;
        width: 100%;
    }
    .foto-raquel{
       margin-top: 0%;
        width: 100%;
        height: 100%;
    }
    .navegacao{
        background-origin: padding-box;
        justify-content: space-around;
        border-radius: 40px;
        align-items: center;
        background: rgba(247, 244, 244, 0.2);
        width: 300px;
        height: 40px;
        bottom: 1px; 
       
    }
    .navegacao ul li{
        
        border-radius: 50%;
        width: 40px;
         height: 40px;
        z-index: 1;
     
        
     }
    .navegacao ul{
        padding: auto;
        width: 50%;
    }
    .item{
        margin-left: 50px;
        margin-right: 50px;
    }
    .cards-projetos{
        margin-top: 5%;
    }
    .projetos{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .container{
        margin-top: 0;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .card{
        width:100% ;
        height: 100%;
    }
    .projeto1{
        position: absolute;
        
        
    }
    .redes-sociais{
        justify-content: center;
        text-align: center;
        display: flex;
        position: relative;
        width: 100%;
        
        align-items: center;
        
    }
    .tec{
       width: 50%;
    }

    .rodape{
        width: 100%;
        height: 500px;
        flex-direction: row;
        flex-wrap: wrap ;
        font-size: 1.5em;
        margin-bottom: 50px;
    }
    .recado-email-telefone{
        display: flex;
        width: 100%;
    }
    .recado{
       margin-top: 5%;
        display: flex;
        width: 90%;
        order: -1;
       
    }
    .meus-projetos{
        font: 1.7em 'Noto Sans Bamum', sans-serif;
        margin: 10px;
        font-weight: 900;
        display: flex;
    }
    .projeto-rodape{
       display: block;
        width: 100%;
        order: 0;
    }
    .logo-rodape{
        align-self: flex-end;
        width:20%
    
    }
    .logo-copyright{
        order: 1
    }
    .copyright{
        text-align: center;
        display: flex;
        width: 130%;
        padding: 0;
    }

}

